<div *ngIf="pokemon$ |async as p">

  <div class="container" style="max-width: 50rem;">
    <br><br>
    <h1> <b> POKEDEX 1ERA GENERACIÓN</b></h1>

    <mat-form-field appearance="outline">
      <input (keyup)="applyFilter($event)" matInput matInput placeholder="Buscar Pokemon ..." />
    </mat-form-field>

    <p>Ultimo Seleccionado: <b> <span *ngIf="p.pokemonSelected.name"> {{p.pokemonSelected.name | uppercase}}</span> </b>
    </p>
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Pokemon </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="name">
          {{row.name}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="ver">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Ver Detalle</mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="ver">
          <button mat-raised-button color="accent" (click)="verDetalle(row,true)">VER DETALLE</button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>


    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>


  </div>
</div>